
@{
    ViewData["Title"] = "AddCategory";
}

<h1>AddCategory</h1>
<div class=" row   ">
<form action="AddCategory" method="post" >

        <input type="text" name="category_name" value="" placeholder="Enter Category Name" class="form-control my-3" />
        <input type="submit" name="name"  value="Add Category" class="form-control my-3 btn btn-primary"/>
</form>

</div>